* {
  font-family: fantasy;
  background-color: khaki;
}

.header img {
  width: 700px;
  height: 400px;
}

main {
  display: inline;

}

main img {
  width: 700px;
  height: 400px;
  float: left;
  width: 33%;
}
